extends ../layouts/starter

append head
	title [KCBBL] Error

append body
	div.col-sm-6.col-sm-offset-3
		div.panel.panel-default
			div.panel-body
				img.img-responsive.center-block(src="/images/error.jpg")
				h1.text-center #{error.status}: #{message}
				pre #{error.stack}
