extends ../layouts/starter

//- append head
//- 	script(src="js/jquery.min.js")
//- 	script(src="js/seasons.js")

append body
	.container.body-container
		.row
			.col-md-2
				h1 Seasons
			.col-md-4
				nav
					ul.pagination
						li
							a(href=prev)
								span &laquo;
						each seasonPaged, i in seasonsPaged
							li
								a.season(id=seasonPaged.id href="/seasons/"+seasonPaged.id)
									span #{seasonPaged.id}
									//- if seasonPaged.id == season.id
									//- 	(current)
						li
							a(href=next)
								span &raquo;
		.row.season-body
