body {
  padding-top: 60px;
  background-image: url("/images/field.jpg");
  background-size: 100%;
}

.body-container {
  background-color: rgba(255, 255, 255, 0.6);
  margin-top: -9px;
  padding-bottom: 15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.logo {
  min-height: 25vh;
  max-height: 80vh;
}

.trophy {
  max-height: 348px;
}