body {
  padding-top: 60px;
  background-image: url("/images/field.jpg");
  background-size: 100%;
  background-attachment: fixed;
}

.body-container {
  background-color: rgba(255, 255, 255, 0.6);
  margin-top: -9px;
  padding-bottom: 15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.nowrap {
  white-space: nowrap;
}

.center {
  text-align: center;
}

.anchor { 
  display: block;
  position: relative;
  top: -50px;
  visibility: hidden;
}

.seasonsPaging {
  padding-top: 20px;
}

.navbar-collapse.in {
  max-height: 100%;
}

.logo {
  min-height: 25vh;
  max-height: 80vh;
}

#login-dp {
  min-width: 250px;
  padding: 14px 14px 0;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.8);
}

#login-dp .bottom{
  background-color: rgba(255, 255, 255, 0.8);
  border-top: 1px solid #ddd;
  clear: both;
  padding: 14px;
}

.btn-fb {
  width: 49%;
  color: #fff;
  background-color:#3b5998;
}
.btn-fb:hover {
  color: #fff;
  background-color: #496ebc 
}

@media(max-width:768px){
  #login-dp {
      background-color: inherit;
      color: #fff;
  }
  #login-dp .bottom {
      background-color: inherit;
      border-top: 0 none;
  }
}

.trophy {
  max-height: 348px;
}

.race-portrait {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0; 
  background-color: white; 
  padding: 5px;
}

.race-crest {
  width: 100%;
}

.race-necromancer {
  padding-top: 53px;
}

.race-star-players {
  margin-top: 20px;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-width: 296px;
}

a:hover.no-underline, a:link.no-underline {
  text-decoration: none;
}

.panel-heading[data-toggle="collapse"] {
  cursor: pointer;
}

.player-improvement {
  background-color: yellowgreen;
}

.player-injury {
  background-color: lightcoral;
}

.versus {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 40px;
}

.scoreboard {
  font-size: 40px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  font-family: "Arbutus", cursive;
}

.jumbotron.match-jumbotron {
  padding-top: 0px;
}

h1.match-team-name {
  word-wrap: break-word;
}

.match-header-number {
  width: 10px;
}

.match-header-rotated {
  height: 63px;
  white-space: nowrap;
}

@media (min-width: 769px) {
  .match-header-rotated > div {
    transform: translate(4px, 2px) rotate(270deg);
    width: 5px;
  }

  .match-value > div {
    width: 5px;
    position: relative;
    left: 4px;
  }

  .match-skills {
    width: 200px;
  }
}

@media (max-width: 768px) {
  .match-header-rotated > div {
    transform: translate(1px, 2px) rotate(270deg);
    width: 5px;
  }
  
  .match-value > div {
    width: 5px;
    position: relative;
    left: -2px;
  }

  .match-roster {
    position: relative;
    left: -15px;
  }
}

.match-player-none {
  background-color: hsla(0, 0%, 96%, 1);
}

h3.panel-title a {
  color: #337ab7;
}

.fb {
  padding: 0px;
}

.table>tbody>tr.vert-center>td, .table>tbody>tr.vert-center>th, .table>tfoot>tr.vert-center>td, .table>tfoot>tr.vert-center>th, .table>thead>tr.vert-center>td, .table>thead>tr.vert-center>th {
  vertical-align: middle;
}

.suit-black {
  color: black;
}

.suit-red {
  color: red;
}
