body {
  padding-top: 60px;
  background-image: url("/images/field.jpg");
  background-size: 100%;
  background-attachment: fixed;
}

.body-container {
  background-color: rgba(255, 255, 255, 0.6);
  margin-top: -9px;
  padding-bottom: 15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.logo {
  min-height: 25vh;
  max-height: 80vh;
}

.trophy {
  max-height: 348px;
}

.race-portrait {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0; 
  background-color: white; 
  padding: 5px;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-width: 296px;
}

a:hover.no-underline, a:link.no-underline {
  text-decoration: none;
}

.panel-heading[data-toggle="collapse"] {
  cursor: pointer;
}
