extends ../_bootstrap

append styles
	// Custom styles for this template
	link(href="/css/starter-template.css" rel="stylesheet")
	link(href="/fonts/awesome/css/all.css" rel="stylesheet")

block body
	nav.navbar.navbar-fixed-top.navbar-inverse(role="navigation")
		.container
			.navbar-header
				button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href="/")
					span
						img(src="/images/kcbbl-icon-inverted.png" style="position: relative; top: -1px;")
						| &nbsp;KCBBL
			.collapse.navbar-collapse#navbar
				ul.nav.navbar-nav
					li
						a(href="/seasons") Seasons
					li
						a(href="/coaches") Coaches
					li
						a(href="/teams") Teams
					li
						a(href="/players") Players
					li
						a(href="/matches") Matches
					li
						a(href="/stats") Stats
				
				ul.nav.navbar-nav.navbar-right
					li.dropdown
						a.dropdown-toggle(data-toggle="dropdown" href="#")
							img(src="/images/helmet.png" width="18px")
							|&nbsp;
							span.caret
						ul.dropdown-menu#login-dp
							li.row
								.col-md-12 
									//| Login via
									//div
										a.btn.btn-fb(href="#")
											<i class="fab fa-facebook-f"></i>
											|&nbsp;&nbsp;Facebook
									//| or
									| Login
									form.form#login-nav(method="POST" action="rest/login" accept-charset="UTF-8")
										.form-group
											label.sr-only(for="email-input") Email
											input.form-control#email-input(name="email" type="email" placeholder="Email address..." required)
										.form-group
											label.sr-only(for="password-input") Password
											input.form-control#password-input(name="password" type="password" placeholder="Password..." required)
											.help-block.text-right
												a Forgot your password?
										.form-group
											button.btn.btn-primary.btn-block(type="submit") Sign In
										.checkbox
											label
												input(type="checkbox")
												| Remember me
								.bottom.text-center
									| New here?&nbsp;
									a Create an account



				
				form.navbar-form.navbar-right#search(action="/search" method="GET")
					.form-group
						input.form-control#search(type="text" placeholder="Search..." name="q")